*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0a2463;
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #7fc8f2;
    padding: 40px 60px;
    border-radius: 30px;
}

h2
{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset
{
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: #0a2463;
    text-transform: uppercase;
    padding: 15px 20px;
    background: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 30px;
}

.reset:focus
{
    color: #fff;
    background: #0a2463;
}

.game
{
    width: 430px;
    height: 430px;
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item
{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transition: 0.25s;
}

.item.boxOpen
{
    transform: rotateY(0deg);
}

.item:after {
    content: '';
    position: absolute;
    inset: 0;
    /* opacity: 0.85; */
    background: #0a2463;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen::after ,
.boxMatch:after
{
    transform: rotateY(180deg);
}